/* General Styling */
body {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 150px;
}

.resume-container {
  display: flex;
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Left Section Styling */
.left-section {
  background-color: rgb(198, 198, 198);
  color: white;
  padding: 20px;
  width: 35%;
  text-align: center;
  border-right: 5px solid;
  border-radius: 15px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  margin-top: 10%;
  border-radius: 50%;
  border: 5px solid rgba(67, 124, 189, 0.936);
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  padding: 2%;
  margin: 20px 0 10px;
  color: white;
  border-radius: 10px;
  background-color: rgba(67, 124, 189, 0.936);
  box-shadow: 5px 5px rgba(191, 191, 191, 0.558);
  margin-top: 5%;
  margin-bottom: 5%;
}

p {
  font-weight: 300;
  color: black;
  padding: 0%;
}

ul {
  list-style-type: fill round;
  padding: 10;
  margin: 10px 0;
}

ul li {
  margin: 5px 0;
}

/* Right Section Styling */
.right-section {
  margin-top: -5px;
  padding: 15px;
  width: 65%;
}

.certification {
  padding-top: 14px;
}

button {
  background-color: #fff;
  border-color: rgba(67, 124, 189, 0.936);
  color: black;  
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  background-color: rgba(67, 124, 189, 0.936);
  color: white;
  border-color: #fff;
  box-shadow:2px 2px grey;
}

button{
  transition:0.5s;
}